.content {
    position: absolute;
    width: 1080px;
    height: 1920px;
    left: 0;
    top: 0;
    background-image: url(background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    transform-origin: top left;
    transform: rotate(-90deg) translateX(-100%);
}

#myVideo {
    width: 1018px;
    height: 729px;
    margin-top: 81px;
}